:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 1.4rem;
    --md: 1.7rem;
    --lg: 1.8rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
}

/*index*/

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.logo{
    width: 20rem;
    margin-bottom: 5rem;
    justify-self: center;
    display: none;
}

.title{
    font-size: var(--lg);
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
}
.subtitle{
    font-size: var(--md);
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 0;
}

.form{
    display: flex;
    flex-direction: column;
}

.password{
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 0.5rem;
}



.input{
    background-color: var(--text-input-field);
    border-radius: 0.8rem;
    border: none;
    height: 4rem;
    font-size: var(--md);
    padding: 0.6rem;
    margin-bottom: 2rem;

}


.primary-button{
    background-color: var(--hospital-green);
    height: 5rem;
    border: none;
    border-radius: 0.8rem;
    font-size: var(--lg);
    color: var(--white);
    
}
.Confirm-button{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.recovery-password{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
}

/*1Password*/

.email-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}
.Email-title{
    margin-top: 4rem;
}

.email-subtitle{
    font-size: var(--sm);
    margin-top: 1rem;
}

.Email-icon{
    width: 8rem;
}

.email-bg{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-botton{
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 100%;
}

.bottom-msg{
    font-size: var(--sm);
    font-weight: 300;
}

.bottom-msg a{
    
    color: var(--hospital-green);
    text-decoration: none;
}

.cerrar{
    margin-left: 30rem;
    margin-top: 5rem;
}
.logo-login{
    margin-top: 5rem;
    width: 20rem;
    margin-bottom: 5rem;
    justify-self: center;
    display: none;
}

.email-address{
    font-size: var(--md);
    font-weight: bold;
}

.password-login{
    font-size: var(--md);
    font-weight: bold; 
}
.Login-button2{
    margin-top: 2rem;
}
.forgotpass{
    font-size: var(--sm);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.forgotpass a{
    text-decoration: none;
    color: var(--hospital-green);
}

 /*Edit and create*/

.secondary-button{
    
    display: flex;
    justify-content: center;
    background-color: var(--white);
    height: 5rem;
    border: 0.2rem solid var(--hospital-green);
    border-radius: 0.8rem;
    font-size: var(--lg);
    color: var(--hospital-green);
    
}

.Signup-button{
    margin-bottom: 0;
    margin-top: 20rem;
    position: relative;
    width: 100%;
}

.Create{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    align-items: start;
}

.myaccount{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.name-account{
    font-size: var(--md);
    font-weight: bold;
}
.Save-botton{
    margin-top: 34rem;
    font-weight: bold;
}
    
.value{
    margin-top: 0.5rem;
    font-size: var(--md);
    font-weight: 600;
    margin-bottom: 4rem;
    color: var(--very-light-pink);
}

/*HOME*/

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    gap: 2.6rem;
    place-content: center;
}

.product-card{
    width: 24rem;
}
.product-card img{
    width: 24rem;
    height: 24rem;
    border-radius: 2rem;
    object-fit: cover;
}

.product-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info figure img{
    width: 3.5rem;
    height: 3.5rem;
}
.price{
    font-size: var(--md);
    font-weight: bold;
}
.product-name{
    font-size: var(--sm);
    color: var(--very-light-pink);
}

/*menudesktop*/

.desktop-menu{
    text-align: end;
    padding: 2rem;
    width: 15rem;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 0.4rem;
    
}

ul li:nth-child(1), ul li:nth-child(2){
    font-weight: bold;
}

.title-menu{
    font-size: var(--lg);
    list-style: none;
    margin-top: 2rem;
    text-decoration: none;
    
}
.title-menu a{
    text-decoration: none;
    color: var(--black);
    
}

ul :nth-child(3){
    padding-top: 3rem;   
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--md);
    
}

.mobile-menu{
    display: flex;
    flex-direction: column;
}





.main-container-order{
    display: grid;
    place-content: center;
}
.title-myoder{
    display: none;
}
.product-car{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-input-field);
    border-radius: 0.8rem;
    height: 7rem;
    margin-bottom: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}
.product-car .articles .fecha{
    font-size: var(--sm);
    font-weight: bold;
}

.product-car .articles .number-articles{
    font-size: var(--sm);
    font-weight: lighter;
}
.product-car .payment-total{
    font-size: var(--sm);
    font-weight: 600;
}

.product-card-order{
    width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.product-card-order img{
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    object-fit: cover;
}

.name-product{
    font-size: var(--lg);
    font-weight: bold;
    margin-left: 1rem;
    color: var(--very-light-pink);
}
.price{
    font-size: var(--lg);
    font-weight: bold;
    margin-left: 0.5rem;
}

.product-car-orders{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}
.main-container-orders{
    display: grid;
    place-content: center;
    
}
.myorders{
    width: 34rem;
    margin-top: 3rem;
}
.product-car-orders .articles .fecha{
    font-size: var(--sm);
    font-weight: bold;
}

.product-car-orders .articles .number-articles{
    font-size: var(--sm);
    font-weight: lighter;
}
.product-car-orders .payment-total{
    font-size: var(--sm);
    font-weight: 600;
}
.main-container-orders .myorders div:nth-child(2){
    display: flex;
    align-items: center;
}
.main-container-orders .myorders div:nth-child(2) figure>img{
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

.product-detail img:nth-child(2){
    border-radius: 0rem 0rem 2rem 2rem;
    width: 36rem;
    height: 40rem;
    object-fit: cover;
}
.product-detail div:nth-child(2) img{
    position: absolute;
    width: 20rem;
}
.product-detail > img:nth-child(1){
    position: absolute;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 50%;
    background-color: var(--white);
    width: 2rem;
    padding: 0.3rem;
}
.product-detail{
    width: 36rem;
    display: grid;
    place-content: center;
}
.aside-product{
    display: grid;
    place-content: center;
}
.button-add{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem 0rem 1rem;
    width: 90%;
}
.button-add img{
    margin-right: 1rem;
}
.product-infor p:nth-child(1){
    font-size: var(--lg);
    font-weight: bold;
    margin-top: 4rem;
    padding: 0rem 1rem 0rem 1rem;
}
.product-infor p:nth-child(2){
    font-size: var(--md);
    color: var(--very-light-pink);
    font-weight: 300;
    padding: 0.2rem 1rem 0rem 1rem;
}
.product-infor p:nth-child(3){
    font-size: var(--sm);
    color: var(--very-light-pink);
    margin-top: 2rem;
    text-align: justify;
    padding: 1rem;
    font-weight: 300;
}
.articles p{
    font-size: var(--lg);
    font-weight: bold;
}




@media (max-width: 640px) {
    .logo {
        display: block;
    }
    .logo-login{
        display: block;
    }

    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 14rem);
        gap: 2.6rem;
        place-content: center;
    }
    .product-card{
        width: 14rem;
    }
    .product-card img{
        width: 14rem;
        height: 14rem;
        border-radius: 2rem;
        object-fit: cover;
    }
    .product-detail{
        width: 36rem;
        display: grid;
        place-content: center;
    }
    .aside-product{
        display: grid;
        place-content: center;
    }
    
}

@media (min-width: 640px) {
    .Signup-button{
        margin-top: 10rem; 
    }
    .cerrar{
        display: none;
    }
    .Save-botton{
        margin-top: 10rem;
    }
    .Create{
        align-content: space-around;
    }
    .title-myoder{
        display: block;
        margin-top: 15rem;
        margin-bottom: 4rem;
    }
    .product-card-order{
        width: 50rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    .name-product{
        margin-left: -13rem;
    }
    .product-car-orders{
        padding: 0rem;
        margin-top: 3rem;
    }
    .product-detail{
        position: absolute;
        right: 0;
        width: 36rem;
    }

}